[package]
name = "nmc"
version = "0.2.1"
edition = "2021"
authors = ["Atanas Dinov <atanas.dinov@suse.com>"]
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.80"
clap = { version = "4.5.1", features = ["cargo"] }
env_logger = "0.11.2"
log = "0.4.20"
network-interface = "1.1.1"
nmstate = { version = "2.2.24", features = ["gen_conf"] }
serde = { version = "1.0.196", features = ["derive"] }
serde_yaml = "0.9.30"
