on:
  pull_request:
  push:
    branches:
      - "*"

name: Build & Test

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Format
        run: cargo fmt --all -- --check
      - name: Lint
        run: cargo clippy --all-targets --all-features -- -D warnings
  build:
    runs-on: ubuntu-latest
    needs: [ lint ]
    steps:
      - uses: actions/checkout@v5
      - name: Build
        run: cargo build
      - name: Test
        run: cargo test --no-fail-fast
        env:
          RUST_LOG: debug
